# LAB6

## 1. python program to find the exponent of a number using recursion

In [1]:
def exponent(num, poww):
    if poww == 0:
        return 1
    return num*exponent(num, poww-1)


print(exponent(2, 6))

64

## 2. WAP  for sorting objects on the basis of the string values passed as arguments

In [2]:
def printsorted(arr):
    
    print(*sorted(arr, key=len))
 

arr = ["Cuttack", "I", "from", "am"]
printsorted(arr)

I am from Cuttack

## 3.wap  to generate a python list of all the multiples of 3 and 7  between 70 to 300

In [3]:
result = 0
for i in range(70,300):
    if (i % 3 == 0 and i % 7 == 0):
        print(i)
        result += i
print(result)

84
105
126
147
168
189
210
231
252
273
294
2079

## 4. Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters

In [4]:
def string_test(s):
    UPPER_CASE = 0
    LOWER_CASE = 0
    for c in s:
        if c.isupper():
            UPPER_CASE += 1
        elif c.islower():
            LOWER_CASE += 1
        else:
            pass
    print("No. of Upper case characters : ", UPPER_CASE)
    print("No. of Lower case Characters : ", LOWER_CASE)


string_test('The quick Brown Fox')

No. of Upper case characters :  3
No. of Lower case Characters :  13

## 5.Write a Python function that checks whether a passed string is palindrome or not.

In [5]:
def is_palindrome(s):
  if len(s) < 1:
    return True
  else:
    if s[0] == s[-1]:
      return is_palindrome(s[1:-1])
    else:
      return False
a=str(input("Enter string:"))
if(is_palindrome(a)==True):
  print(a, "is a palindrome!")
else:
  print(a, "isn't a palindrome!")

Enter string:abacaba
abacaba is a palindrome!

## 6.Write a Python function that prints out the first n rows of Pascal's triangle.

In [6]:
from math import factorial

n = int(input("Enter the limit: "))


def pascal_triangle(n):
    for i in range(n):
        for j in range(n-i+1):
            print(end=" ")
        for j in range(i+1):
            print(factorial(i)//(factorial(j)*factorial(i-j)), end=" ")
        print()


pascal_triangle(n)

Enter the limit: 10
           1
          1 1
         1 2 1
        1 3 3 1
       1 4 6 4 1
      1 5 10 10 5 1
     1 6 15 20 15 6 1
    1 7 21 35 35 21 7 1
   1 8 28 56 70 56 28 8 1
  1 9 36 84 126 126 84 36 9 1

## 7.Write a Python program to access a function inside a function.

In [7]:
def test(a):
    def add(b):
        return a+b
    return add


func = test(4)
print(func(6))

10

## 8.Write a Python program to reverse a string.

In [8]:
def reverse(s):
    str = " "
    for i in s:
        str = i+str
    return str


reverse("RUDRASHIS")

'SIHSARDUR '

## 9.Using function Find the median from a given list,[32,76,56,99,102,54,11,73, 102,87,34,45,26,119,176]

In [9]:
def cal_median(nums):
    nums.sort()
    n = len(nums)
    m = n // 2
    if n % 2 == 0:
        return (nums[m - 1] + nums[m]) / 2
    else:
        return nums[m]


print(cal_median([32, 76, 56, 99, 102, 54,
      11, 73, 102, 87, 34, 45, 26, 119, 176]))

73

## 10. Write a Python function to create and print a list where the values are square of numbers between 1 and 30 .

In [10]:
def sqr():
    result = []
    for i in range(1,31):
        result.append((i)**2)
    return result
sqr()

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900]